<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a href="/"> <h5 class="my-0 mr-md-auto font-weight-normal" >ProkatAO</h5></a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/registration">Регистрация</a>
    <a class="p-2 text-dark" href="/user">Профиль</a>
  </nav>
  <a class="btn btn-outline-primary" href="/login">Войти</a>
  <a class="btn btn-outline-primary" href="/login_admin">Войти как администратор</a>
</div>
