<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prokat ot Eda</title>
	<link rel="stylesheet" href="style/user_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../public/js/validators.js"></script> 
    <style>
        .text {
         width: 125px;
        } 
       </style>
</head>
<body>
    
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<form class="box" action="/logaut" method="post">
			<button class="btn btn-outline-primary" href="/">Выйти </button>
		</form>
	</div>
		<div class="row">
		<div class="col-md-4 text-center">
			<h1>Личный кабинет администратора</h1>
				<div class="profile-userpic">
					<img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-responsive" alt="">
				</div>
				<div class="addCarBtn">
					<form class="box" action="/admin" method="GET">
						<button class="btn btn-outline-primary" href="/admin">Заказы</button>
					</form>
				</div>
    </div>
		<div class="col-md-7 text-center">
            <form action="/addCarBtn" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            Название автомобиля:
                            <input type="text" required name="carName" class="text" minlength="1">
                        </div>
                        <div class="row">
                            Тип автомобиля:
                            <input type="text" required name="typeCar" class="text">
                        </div>
                        <div class="row">
                            Тип двигателя:
                            <input type="text" required name="engType" class="text">
                        </div>
                        <div class="row">
                            Объем двигателя (л.):
                            <input type="text" required name="vEng" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Максимальная мощность (л.с.):
                            <input type="text" required name="maxPower" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Коробка передач:
                            <input type="text" required name="transmission" class="text">
                        </div>
                        <div class="row">
                            Привод:
                            <input type="text" required name="privod" class="text">
                        </div>
                        <div class="row">
                            Максимальная скорость (км/ч):
                            <input type="text" required name="maxSpeed" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Время разгона 0 - 100 км/ч (с.):
                            <input type="text" required name="acceleration" onkeyup="return provSimv(this);" class="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            Модель:
                            <input type="text" required name="modelCar" class="text">
                        </div>
                        <div class="row">
                            Средний расход топлива:
                            <input type="text" required name="fuel" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Количество мест:
                            <input type="text" required name="kolPas" onkeyup="return provSimv(this);" class="text">
                            </div>
                        <div class="row">
                            Объем багажника (л.):
                            <input type="text" required name="luggage" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Длина (м.):
                            <input type="text" required name="length" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Ширина (м.):
                            <input type="text" required name="width" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Высота (м.):
                            <input type="text" required name="hights" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Клиренс (см.):
                            <input type="text" required name="clearance" onkeyup="return provSimv(this);" class="text">
                        </div>
                        <div class="row">
                            Цена р./сут.:
                            <input type="text" required name="cost" onkeyup="return provSimv(this);" class="text">
                        </div>
                    </div>  
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Добавить машину">
            </form>
		</div>
	 </div>
    </div>
</div>
</body>
</html>