<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prokat ot Eda</title>
	<link rel="stylesheet" href="style/user_style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<form class="box" action="/logaut" method="post">
			<button class="btn btn-outline-primary" href="/">Выйти </button>
		</form>
	</div>

		<div class="row">

		<div class="col-md-4 text-center">
			<h1>Личный кабинет администратора</h1>
				<div class="profile-userpic">
					<img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-responsive" alt="">
				</div>
				<div class="addCarBtn">
					<form class="box" action="/addCar" method="get">
						<button class="btn btn-outline-primary" href="/addCar">Добавить машину в базу данных</button>
					</form>
				</div>
    </div>
		<div class="col-md-7 text-center">
			<h1>Заказы:</h1>
			<div class="tablo">
	    <table>
			 <tr>
				 <th>id</th>
				 <th>Имя пользователя</th>
				 <th>Машина</th>
				 <th>Дополнительное устройства</th>
				 <th>Дата начала аренды</th>
				 <th>Дата окончания аренды</th>
				 <th>Цена</th>
			 </tr>
			 <% for(var i=0; i < result.length ; i++) { %>
				 <tr>
					 <td>
						 <%=result[i].order_id%>
					 </td>
					 <td>
						 <%=result[i].name%>
					 </td>
					 <td>
						 <%=result[i].car_name%>
					 </td>
					 <td>
						 <%=result[i].add_devices_name%>
					 </td>
					 <td>
						 <%=result[i].start_day%>
					 </td>
					 <td>
						 <%=result[i].end_day%>
					 </td>
					 <td>
					 <td>
						 <%=result[i].full_cost%>
					 </td>
				 </tr>
				 <% } %>
		 </table>
	 </div>
    </div>
</div>
</body>
</html>
