<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prokat ot Eda</title>
	<link rel="stylesheet" href="public/style/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<%if (typeof status == "undefined" || status == false){%>
	 <%include block/navbar.ejs%>
 <%} else {%>
	<%include block/navbarreg.ejs%>
<%}%>
	<div class="col-md-12">
  <h1>Прокат <%=car[0].model_name%> <%=car[0].car_name%> в Москве</h1>
	<form action="/order" method="post">
		<input type="hidden" value="<%=car[0].cost%>" name="car_id">
		<input type="hidden" value="<%=car[0].model_name%>" name="car_model">
    <input type="hidden" value="<%=car[0].car_name%>" name="car_name">
    <h5>Дата начала аренды:</h5>
    <input type="date" required name="start_time" min="2019-12-3" value="0">
    <h5>Дата окончания аренды:</h5>
    <input type="date" required name="end_time" min="2019-12-4" value="0">
    <br>
    <br>
		<input type="submit" value="Добавить в заказ">
	</form>
	</div>
  <h2>Параметры:</h2>
<div class="shop_p_d active" id="shop_id_param_list">
  <div class="block_white search_phone">
    <div class="shop_id_param">
      <div class="row">
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Тип двигателя:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].eng_type%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Объем двигателя:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].v_eng%> л.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Максимальная мощность:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].max_power%> л.с.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Коробка передач:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].transmission%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Привод:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].privod%></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Максимальная скорость:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].max_speed%> км/ч</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Время разгона 0 - 100 км/ч:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].time0_100%> с.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Средний расход топлива:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].fuel_consumption%> л/100 км.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Количество мест:</strong>
              </div><div class="col-sm-6 text-right"><%=car[0].kol_pass%> пас.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Объем багажника:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].luggage_capacity%> л.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Длина:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].dlinna%> м.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Ширина:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].width%> м.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row">
              <div class="col-sm-6">
                <strong class="">Высота:</strong>
              </div>
              <div class="col-sm-6 text-right"><%=car[0].visota%> м.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="p_id_list">
            <div class="row"><div class="col-sm-6">
              <strong class="">Клиренс:</strong>
            </div>
            <div class="col-sm-6 text-right"><%=car[0].clearance%> см.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
