<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prokat ot Eda</title>
	<link rel="stylesheet" href="style/user_style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	  <a href="/"> <h5 class="my-0 mr-md-auto font-weight-normal" >ProkatAO</h5></a>
	  <nav class="my-2 my-md-0 mr-md-3">
	    <a class="p-2 text-dark" href="/user">Профиль</a>
	  </nav>
		<form class="box" action="/logaut" method="post">
			<button class="btn btn-outline-primary" href="/">Выйти </button>
		</form>
	</div>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-6 text-center">
			<h1>Личный кабинет <%=username%></h1>
				<div class="profile-userpic">
					<img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-responsive" alt="">
				</div>
    </div>
		<div class="col-md-6">
			<%if ((typeof other_name == "undefined" && typeof car_name == "undefined") || (other_name == null && car_name == null)) {%>
				<div class = "text-center">
				<p style="font-size: 25px"> Ваш заказ пуст!</p>
				</div>
			<%} else {%>
				<h1>Ваш заказ:</h1>
				<p>Машина: <%=car_model%> <%=car_name%> на <%=kol_day%> дней</p>
				<p>Цена за машину: <%=cost_for_car%></p>
				<p>Дополнительное устройство: <%=other_name%></p>
				<p>Цена за дополнительное устройство: <%=cost_for_device%></p>
				<form action="/order_registration" method="post">
					<div class="row">
						<div class="iux">
					<input type="checkbox" name="rent_agr" value="1">
					</div>
					<p>Я согласен с <a href="">правилами аренды</a></p>
				</div>
				<div class="field">
			<div class="field">
				<h4>Укажите адрес где вы можете забрать машину</h4>
				<p>(Внимание! аренда автомобиля возможна только в Москве)</p>
			</div>
			<div class="field">
					<label>Адрес:</label>
					<select name="address">
							<option value="ул. Тверская, д. 13">ул. Тверская, д. 13</option>
							<option value="2-й Новоподмосковный переулок, д. 10к2">2-й Новоподмосковный переулок, д. 10к2</option>
							<option value="ул. Нагатинская, д. 22к2">ул. Нагатинская, д. 22к2</option>
							<option value="ул. Лобачевского, д. 60">ул. Лобачевского, д. 60</option>
						 </select>
			</div>
				<div class="row">
					</div>
					<input type="submit" class="btn btn-outline-primary" value="Оформить заказ">
				</form>
				<form action="/clear_order" method="post">
					<input type="submit" class="btn btn-outline-primary" value="Очистить заказ">
				</form>
			<%}%>
    </div>
		</div>
</div>

</body>
</html>
